html, body, * {
    margin: 0.5rem;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 2px 4px;
}