/* Header.module.css */
.container {
    background-color: #7D93D0;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 24px;
}

.container a {
    color: #d4dfff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

/* Style links when hovered */
.container a:hover {
    color: rgba(255, 255, 255, 0.95);
}
