.container {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 24px;
}

.container a {
    color: #898989;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.container a:hover {
    color: rgba(255, 255, 255, 0.95);
}

a:active {
    color: #fff;
}
